h1{
    text-shadow: 3px 3px 3px red;
    text-shadow: 3px 3px 3px red, 5px 5px 5px green;
    /* To add border to text using shadow */
    text-shadow: 1px 1px 1px orange;
}

.box{
    background-color: aqua;
    height: 200px;
    width: 200px;
    box-shadow:8px 8px 10px green;
    box-shadow:8px 8px 10px green, 15px 15px 15px brown;
    box-shadow:8px 8px 4px 7px green;
}