.container {
  height: 500px;
  width: 500px;
  background-color: green;
  border: 3px solid red;
  display: flex;
}

.box {
  height: 150px;
  width: 150px;
  margin: 20px;
  border: 2px solid orange;
  background-color: aqua;

  /* transition: 2s; */

  /* transition-property: background-color;
    transition-delay: 1s; */
  /* transition: transform 1s ease;
    transition: background-color 1s ease 3s; */

  /* transition: all 5s ease-out 0.5s; */
  /* Order : Transition Property, Transition duration, Transition timing function, Transition delay */

  transition: 5s ease 1s;
}

.box:hover {
  background-color: brown;
  transform: translateX(502px) rotate(360deg) scale(1.5);
}
