* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html,
body {
  height: 100%;
} */

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: #e84949;
  font-size: 18px;

  color: white;
  padding: 0.8rem 2.3rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.23);

  position: relative;
  z-index:1;

}

.box::before {
  content: "";
  background-color: black;
  position: absolute;
  inset: 0px;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 1s;
  z-index: -1;
 
}

.box:hover::before {
  transform: scaleX(1);
}


