.container {
  height: 700px;
  width: 600px;
  border: 1px solid red;
  background-color: yellowgreen;
  display: grid;

  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px;
  grid-gap: 10px;

  /* Placing content along horizontal axis(Just change in position)*/

  /* justify-content: start;
    justify-content: end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly; */

    /* Placing content along vertical axis */

  /* align-items: start;
  align-items: end;
  align-items:center;
  align-items: baseline;
  align-items: stretch; */

  /* align-content: space-between;
  align-content: space-around;
  align-content: space-evenly; */

 
  justify-content: center;
  align-content: center;
   place-content: center;  /* This is shorthand notation  */

  /* For justify-items the width changes as per the width of content */
  justify-items: center;
   align-items: center;
  place-items:center; 
}

.box {
  border: 1px solid black;
  background-color: aqua;
}

#box1 {

    /* Styling content inside grid items or grid item */

  /* justify-self: start;
  justify-self: end;
  justify-self: center; */

  align-self: start;
  align-self: end;
  align-self: center;

}
