.container {
  height: 500px;
  border: 1px solid brown;
  background-color: yellow;

  display: grid;
  grid-gap: 10px;

  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: repeat(25,1fr);
  grid-auto-columns: minmax(20px,auto);
}

.box {
  background-color: aqua;
  border: 1px solid green;
  width: 100%;
}
